/* BACKGROUND PICTURES */
#section1 .landing__container {
  background: url('../images/hiking.jpeg') no-repeat center center/cover;
}

#section2 .landing__container {
  background: url('../images/trees.jpeg') no-repeat center center/cover;
}

#section3 .landing__container {
  background: url('../images/village.jpg') no-repeat center center/cover;
}

#section4 .landing__container {
  background: url('../images/waterfall.jpg') no-repeat center center/cover;
}

/* ACTIVE and NON-ACTIVE STATES */
li .your-active-class {
  color: red;
  border-bottom: 2px solid red;
  font-weight: 900;
}

.your-active-class .landing__container {
  border: 5px solid red;
}

.your-active-class {
  opacity: 1;
}

.top-btn.your-active-class {
  z-index: 100;
  display: inline-block;
}

.sec-collapse {
  transform: scale(0.01);
  display: inline-block;
  position: absolute;
  z-index: -1000;
  top: 0;
  right: 0;
}

.navbar__menu.no-show {
  opacity: 0;
}

.text-center {
  text-align: center;
}

/* MARGIN AND PADDINGS */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
